<!DOCTYPE html>
<html th:lang="${lang_code}" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="header-fragment :: head(title=#{forgot_password})">
</th:block>

<body id="login">
    
<th:block th:replace="nav-fragment :: login-nav"></th:block>


<main>
    <div class="container" id="content" tabindex="-1">
    <div class="row justify-content-center my-3">
        <div class="col-11 col-md-10 p-3 p-lg-5 card">
            



            <h1 class="text-primary text-md-center text-left" th:text="#{forgot_password.title}">Forgot your password?</h1>
            <div class="my-3 font-weight-bold text-md-center" th:text="#{forgot_password.description}">Description</div>


            <div class="alert alert-danger" th:if="${(param.invalid != null) || (param.expired != null)}">
                <button class="close" data-dismiss="alert" type="button">
                    <span class="text-white" aria-hidden="true">&times;</span>
                    <span class="sr-only" th:text="#{close}">Close</span>
                </button>
                <strong th:if="${(param.invalid != null)}" th:text="#{auth.message.invalidToken}">Invalid token</strong>
                <strong th:if="${(param.expired != null)}" th:text="#{auth.message.expired}">Expired token</strong>
                <strong th:if="${(param.invalid != null) || (param.expired != null)}"
                        th:text="#{forgot_password.request}">Request a new one</strong>
            </div>

            <form method="post" th:action="@{/reset-password}" th:object="${email}">

                <div class="form-group">
                    <label for="email" class="d-block">
                        <span th:text="#{rte.email}">Your email</span>
                        <strong aria-live="assertive" role="alert" th:if="${(param.error != null && param.error[0] == '1')}">
                            <a href="/registration"><span class="alert alert-danger my-2 d-block" style="text-decoration: underline;"
                                                          th:text="#{rte.unexisting_email}">error: email doesn't exist, go register</span></a>
                        </strong>

                        <strong aria-live="assertive" role="alert" th:if="${(param.error != null && param.error[0] == '0')}">
                            <span class=" alert alert-danger my-2 d-block"
                                  th:text="#{user_email.format}">error: wrong email format</span>
                        </strong>
                    </label>

                   
                        <input autocomplete="email" class="form-control" id="email" name="email" placeholder="example@test.com" th:field="*{value}"
                        type="email" value=""/>
                </div>

                <div class="form-group text-left text-md-center my-2">
                    <button class="btn btn-primary" th:text="#{send}" type="submit">send</button>
                </div>
            </form>


        </div>

        <div class="col-12 text-center py-4 text-white">
            <span class="underline"><a class="white" href="login.html">Back to log in!</a></span>
        </div>
    </div>
    </div>
</main>

</body>
</html>