<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html;charset=utf-8" http-equiv="content-type"/>
</head>
<body>
<h1><span style="text-decoration: underline;"><strong>Privacy Policy Statement</strong></span></h1>

<h2>Summary</h2>
<p>This Privacy statement describes what personal data we gather from you and when during your participation through the
    SOCATEL platform, as well as through the optional 3rd Party Social Media registration. It also outlines how your
    data will be processed and stored. Moreover, it explains your rights regarding your personal data and indicates whom
    you can contact for more information or queries.</p>

<h2>Our role as Data Controller</h2>
<p>Rovira i Virgili University (URV), as a coordinator of the SOCATEL project, is the data controller of personal data
    collected from you during the project lifecycle. This means that DPD URV is committed to protecting your personal
    data regulating the storage, use and safekeeping of your information. The processing and storing of personal data
    will be made in accordance with the provisions of the applicable <a
            href="https://ec.europa.eu/info/law/law-topic/data-protection/data-protection-eu_en">Data Protection law</a>
</p>
<p>SOCATEL platform is developed within the project funded by the European Union’s Horizon 2020 Research and Innovation
    Programme under the Grant Agreement Nº 769975 and it is run by the following companies, organisations and
    universities: Universität Rovira i Virgili (Spain), Stichting Fontys (Spain), Tampereen Yliopisto (Finland), Gal
    Ferenc Foiskola (Hungary), Trinity College Dublin (Ireland), Blau Advisors Strategic Partners SL (Spain), Cy.R.I.C
    (Cyprus), Ajuntament de Vilanova I la Geltru (Spain), Tampereen Kaupunki (Finland), Health Service Executive
    (Ireland), Fundacion ONCE (Spain), Ozwillo (France), Everis Spain SL (Spain), Szeged –Csanádi Egyházmedye (Hungary)
    and FUNKA (Sweden). </p>

<h2>Your Rights with Respect of Your Personal Information</h2>
<p>According to the General Data Protection Regulation (GDPR) in Europe, all people have rights with respect of their
    personal information collected by us. SOCATEL is complying fully with GDPR in this respect, except as limited by
    applicable law. The rights under GDPR include: </p>
<ul>
    <li><strong>Right of Access.</strong> You have the right to access your personal information gathered by us, and to
        obtain information about the sharing, storage, security and processing of your personal information.
    </li>
    <li><strong>Right to Correction.</strong> You have the right to request correction of your personal information. We
        do not assume responsibility for verifying the ongoing accuracy of the content of personal information you
        provided.
    </li>
    <li><strong>Right to Erasure.</strong> You have the right to ask for erasing your personal information from our
        possession (“Right to be forgotten”), with exception certain limitations to it under applicable law. However, if
        applicable law requires us to comply with your request to delete your information, fulfilment of your request
        may prevent you from using SOCATEL platform services and may result in closing your account.
    </li>
    <li><strong>Right to Complain.</strong> You have the right to make a complaint regarding our handling of your
        personal data with the appropriate supervisory authority.
    </li>
    <li><strong>Right to Restrict Processing. </strong> You have the right to request the temporary or permanent cease
        of processing some parts or all of your personal data.
    </li>
    <li><strong>Right to Object. </strong> . In certain situations, you have the right to object to processing of your
        personal information.
    </li>
    <li><strong>Right to Portability. </strong> You have the right to receive the personal information you provided us
        and to transmit those data to another controller.
    </li>
    <li><strong>Right to not be subject to Automated Decision-Making. </strong> You have the right to object and prevent
        any decision that could have a legal, or similarly significant, effect on you from being solely based on
        automated processes. This right is limited, however, in the case the decision-making is necessary for the
        performance of contracts between you and us, when it is allowed by applicable European law, or it is based on
        your explicit consent.
    </li>
</ul>
<p>If you have questions about exercising your rights or you need assistance, please contact us at <a
        href="support@socatel.eu">support@socatel.eu</a>.</p>

<h2>Collection of Personal Data</h2>
<p>Personal data collection take place in two different situations. 1) The main data collection happens when you, as a
    user, register in our platform, which is required for the full use of the platform services. 2) The second type of
    personal data collection happens in the event of the optional social media association with your user account. If
    you, as a user, choose to connect your platform account with your personal social media accounts, some personal data
    will be collected. The social media connection is an optional step central for improving the services, as it will be
    a feedback channel for the platform.</p>
<p>Both situations require your agreement and permission to share your personal information with SOCATEL. </p>

<h2>Types of Personal Data Collected</h2>
<h3>Platform Registration (only for adults):</h3>
<ul>
    <li>Valid Email</li>
    <li>Name</li>
    <li>Surname</li>
    <li>Location</li>
    <li>Date of birth (only adults)</li>
    <li>Profession (optional)</li>
</ul>

<h3>Facebook Account Association with Platform User Account (optional):</h3>
<h4>Facebook profile details:</h4>
<ul>
    <li>Name</li>
    <li>Surname</li>
    <li>Location</li>
    <li>Email</li>
    <li>Date of birth (only adults)</li>
    <li>Profile Picture</li>
</ul>
<h4>Access to Facebook Posts - References on the SOCATEL platform will be collected:</h4>
<ul>
    <li>“reactions” and “likes” on the SOCATEL Facebook Posts and the SOCATEL Facebook Page stemming from the user’s
        Facebook account
    </li>
    <li>“comments” on the SOCATEL Facebook Posts and the SOCATEL Facebook Page stemming from the user’s Facebook
        account
    </li>
    <li>References to SOCATEL related webpages stemming from the user’s Facebook Posts</li>
</ul>

<h3>Twitter Account Association with Platform User Account (optional):</h3>
<h4>Twitter User profile details:</h4>
<ul>
    <li>Name</li>
    <li>Surname</li>
    <li>Location</li>
    <li>Email</li>
    <li>Date of birth (only adults)</li>
    <li>Profile Picture</li>
</ul>
<h4>Twitter Comments of the service</h4>
<h4>Twitter retweets of the service</h4>

<h3>LinkedIn Account Association with Platform User Account (optional):</h3>
<h4>LinkedIn User profile details:</h4>
<ul>
    <li>Name</li>
    <li>Surname</li>
    <li>Location</li>
    <li>Email</li>
    <li>Date of birth (only adults)</li>
    <li>Profile Picture</li>
</ul>

<p>We use anonymised and aggregated information for purposes such as testing our IT systems, research, data analysis,
    creating marketing and promotion models, improving the SOCATEL service and developing new features and functionality
    within.</p>

<h2>Use of Data</h2>
<p>All data given by you, the user, during the registration phase will be used strictly as described at the point of
    collection. </p>

<h2>Personal Data Sharing</h2>
<ul>
    <li>Your account public information is only visible to other logged users.</li>
    <li>Your private information is only used by platform subsystems for automated processing.</li>
    <li>Any information used or shared outside the platform is anonymised and aggregated as part of statistical data.
    </li>
</ul>

<p>The following table describes categories of recipients of the anonymised personal data collected or generated from
    the use of the SOCATEL platform, along with the reason for sharing that information. </p>


<table>
    <tbody>
    <tr>
        <th scope="col"><strong>Categories of Recipients</strong></th>
        <th scope="col"><strong>Reason for sharing</strong></th>
    </tr>
    <tr>
        <td><strong>Third Party Applications you connect to your SOCATEL platform account</strong></td>
        <td>When you connect your SOCATEL platform account to a third-party application, such as Facebook, Twitter,
            LinkedIn; SOCATEL may consume part of your ‘Service’ Usage Data. ‘Service’ is defined as the third-party
            application. We will not post or share any of your SOCATEL information or activities on these third-party
            applications without your explicit permission.
        </td>
    </tr>
    <tr>
        <td><strong>Other SOCATEL platform members</strong></td>
        <td>As part of the social interaction of the platform, other members of the platform can view the public
            information on your profile (Interests, skills), if you wish so.
            The private information on your profile (contact details, second language, if retired previous occupation
            area) will not be visible and cannot be seen by other platform members.
        </td>
    </tr>
    <tr>
        <td><strong>Academic Researchers</strong></td>
        <td>Statistical data generated from your on-platform activities may be shared with the academic world for
            academic study and statistical analysis, always in a pseudonymised format. You will not be identified and
            cannot be directly or indirectly associated with any of the shared data.
        </td>
    </tr>
    <tr>
        <td><strong>Law Enforcement and Data Protection Authorities</strong></td>
        <td>Your personal information will be shared, if necessary, in order to comply with legal obligation under
            applicable law, or as a reply to a valid legal process such as search warrant or court order.
            We might also share your personal data where we in good faith believe that it is necessary for legitimate
            interest related to law enforcement, litigation, national security, criminal investigation, to prevent the
            death or imminent bodily harm of any person, when we deem that such interest is not overridden by your
            interests or fundamental rights and freedoms, as the protection of your personal data requires.
        </td>
    </tr>
    </tbody>
</table>

<h2>Security</h2>
<p>Generally accepted standards of technology and operational security were implemented in order to protect personally
    recognisable data and information from loss, misuse, destruction or alteration. All data is encrypted via SSL/TLS
    when transmitted for our servers to you. The backups of your data are also encrypted. The only data that aren’t
    encrypted are those on the live database (for performance reasons).</p>

<h2>Data Retention</h2>
<p>The personal data collected will only be retained for as long as is required for the purposes for which it was
    collected and as required by applicable law. For example, Facebook reactions data will be kept for as long as the
    information is required for an analysis to be extracted.</p>
<p>If you, the user, have any further question regarding privacy matters, on how and why we process your data, please
    contact support@socatel.eu.
</p>

<h2>Deleted data</h2>
<p>When you cancel your SOCATEL platform account, we’ll make sure that everything that is directly affiliated with you
    is kept in our servers for 30 days. </p>

<h2>Children</h2>
<p>The SOCATEL platform is not directed to underaged persons, in relation to the legal age limits as set under local
    law.
    We do not knowingly collect personal data from persons under the applicable age limit. If you are underaged, please
    do not use SOCATEL platform and do not provide any personal data to us.</p>
<p>If you are a parent of a child under the Age Limit and you become aware that your child has provided personal data to
    SOCATEL, please contact us using the ‘Contact Us’ form and you may request exercise of your applicable rights
    detailed in the ‘Your Rights with Respect of Your Personal Information’ section of this Policy.
</p>

<h2>Changes to this Privacy Policy</h2>
<p>We may occasionally make changes to this Privacy Policy statement. In case we make material changes, we’ll let you
    know with a notice as appropriate of the situation (either a notice within the platform or an email).</p>

<h2>Cookies</h2>
<p>Please check our <a href="https://www.socatel.eu/cookie-policy/">Cookie Policy.</a></p>

<h2>Contact Information</h2>
<p>Blanca Deusdad Ayala (SOCATEL project Coordinator)</p>
<p>Rovira i Virgili University</p>
<p>blanca.deusdad@urv.cat</p>
<p>+34 977 558358 </p>
<p>+34 686 724851</p>

<th:block th:replace="footer-fragment :: back-to-top"></th:block>
</body>
</html>
