<!DOCTYPE html>
<html th:lang="${lang_code}" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="header-fragment :: head(title=#{badUser.signUp})">
</th:block>

<body id="login">

<th:block th:replace="switch-style-fragment :: menu"></th:block>

<th:block th:replace="nav-fragment :: login-nav"></th:block>
<main>
    <div class="container" id="content" tabindex="-1">
        <div class="row justify-content-center my-3">
            <div class="col-11 col-md-10 p-3 p-lg-5 card">

                <h1 class="text-primary text-md-center text-left" th:text="#{login.create_header}">Create account</h1>
                <div class="my-3 font-weight-bold text-md-center" th:text="#{login.subtitle}">Create an account and join the
                    community to change the world!
                </div>

                <form method="post" th:action="@{/registration(token=${param.token})}" th:object="${user}">

                    <!-- <div class="form-group row">
                    <div class="col-12 col-sm-9 offset-sm-3">
                    </div>
                    </div> -->

                    <div class="col-form-label col-12 font-weight-bold text-left">
                        <span class="text-danger" aria-hidden="true">*</span> <span class="text-danger" th:text="#{login.required}">Required fields</span>
                    </div>

                    <div class="form-group">
                        <label for="email_input" class="d-block">

                            <span th:text="#{login.email}">Your email</span> 
                            <span class="text-danger"><span aria-hidden="true">*</span><span class="sr-only" th:text="#{required}">Required</span></span>
                            <span class="alert alert-danger my-2 d-block" th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></span>

                        </label>
                        <input autocomplete="email" class="form-control" id="email_input" placeholder="" required th:field="*{email}" type="email">
                    </div>


                    <div class="form-group">
                        <label for="username_input" class="d-block">

                            <span th:text="#{login.username}">Username</span>
                            <span class="text-danger"><span aria-hidden="true">*</span><span class="sr-only" th:text="#{required}">Required</span></span>
                            <span class="alert alert-danger my-2 d-block" th:errors="*{username}" th:if="${#fields.hasErrors('username')}"></span>
                            <small th:text="'(' + #{login.username.info} + ')'">()</small>

                        </label>
                        <input autocomplete="username" id="username_input" class="form-control" placeholder="" required th:field="*{username}" type="text">
                    </div>


                    <div class="form-group">
                        <label for="password_input" class="d-block">

                            <span th:text="#{login.password}">Your password</span>
                            <span class="text-danger"><span aria-hidden="true">*</span><span class="sr-only" th:text="#{required}">Required</span></span>
                            <span class="alert alert-danger my-2 d-block" th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></span>
                            <small th:text="'(' + #{registration.password.length} + ')'">()</small>

                        </label>
                        <input autocomplete="new-password" id="password_input" class="form-control" required th:field="*{password}" type="password">
                    </div>


                    <div class="form-group">
                        <label for="repeat_input" class="d-block">

                            <span th:text="#{login.repeat_password}">Repeat password</span> 
                            <span class="text-danger"><span aria-hidden="true">*</span><span class="sr-only" th:text="#{required}">Required</span></span>
                            <span class="alert alert-danger my-2 d-block" th:errors="*{matchingPassword}" th:if="${#fields.hasErrors('matchingPassword')}"></span>
                            <small th:text="'(' + #{registration.password.length} + ')'">()</small>

                        </label>
                        <input autocomplete="new-password" id="repeat_input" class="form-control" placeholder="" required th:field="*{matchingPassword}" type="password">
                    </div>


                    <div class="form-group">
                        <label for="age_range_select" class="d-block">

                            <span th:text="#{login.age_range}">Age Range</span>
                            <span class="text-danger"><span aria-hidden="true">*</span><span class="sr-only" th:text="#{required}">Required</span></span>
                            <span class="alert alert-danger my-2 d-block" th:errors="*{ageRange}" th:if="${#fields.hasErrors('ageRange')}"></span>

                        </label>

                        <select id="age_range_select" class="form-control" th:field="*{ageRange}">
                            <option style="display:none" th:text="#{login.age_range}" th:value="${null}">Age range
                            </option>
                            <option th:each="ageRange : ${T(com.socatel.utils.enums.AgeEnum).values()}"
                                    th:text="#{${ageRange.toString().replaceAll(' ', '_').toLowerCase()}}"
                                    th:value="${ageRange}"></option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label for="profile_select" class="d-block">

                            <span th:text="#{login.profile}">Who are you</span>
                            <span class="text-danger"><span aria-hidden="true">*</span><span class="sr-only" th:text="#{required}">Required</span></span>
                            <span class="alert alert-danger my-2 d-block"th:errors="*{profile}" th:if="${#fields.hasErrors('profile')}"></span>

                        </label>

                        <select id="profile_select" class="form-control" required th:field="*{profile}">
                            <option style="display:none" th:text="#{login.profile.placeholder}" th:value="${null}">
                                Profile type
                            </option>
                            <option th:each="profile : ${T(com.socatel.utils.enums.ProfileEnum).values()}"
                                    th:text="#{${profile.toString().replaceAll(' ', '_').toLowerCase()}}"
                                    th:value="${profile}"></option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label for="location_select" class="d-block">

                            <span th:text="#{login.location}">Location</span> 
                            <span class="text-danger"><span aria-hidden="true">*</span><span class="sr-only" th:text="#{required}">Required</span></span>
                            <span class="alert alert-danger my-2 d-block" th:errors="*{locality}" th:if="${#fields.hasErrors('locality')}"></span>

                        </label>

                        <select id="location_select" class="form-control" required th:field="*{locality}">
                            <option style="display:none" th:text="#{login.location.placeholder}" th:value="null">
                                Location
                            </option>
                            <option th:each="locality : ${localities}"
                                    th:text="#{${locality.name.replaceAll(' ', '_').toLowerCase()}}"
                                    th:value="${locality.id}"></option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label for="language_select" class="d-block">
                            
                            <span th:text="#{login.language}">Primary language</span> 
                            <span class="text-danger"><span aria-hidden="true">*</span><span class="sr-only" th:text="#{required}">Required</span></span>
                            <span class="alert alert-danger my-2 d-block" th:errors="*{firstLang}" th:if="${#fields.hasErrors('firstLang')}"></span>

                        </label>

                        <select id="language_select" class="form-control" required th:field="*{firstLang}">
                            <option style="display:none" th:text="#{login.language.placeholder}" th:value="null">Primary
                                language preference
                            </option>
                            <option th:each="language : ${languages}"
                                    th:text="#{${language.name.replaceAll(' ', '_').toLowerCase()}}"
                                    th:value="${language.id}"></option>
                        </select>
                    </div>


                    <div class="form-group">
                        <div class="col-form-label text-left py-3 font-weight-bold">
                        
                            <input class="mt-1 mr-1" id="terms-checkbox" name="privacy" required type="checkbox"
                                    value="">
                            <span class="text-danger"><span aria-hidden="true">*</span><span class="sr-only" th:text="#{required}">Required</span></span>
                            <label class="d-inline" for="terms-checkbox">
                                <span th:text="#{registration.agreement1}">Agree to</span>
                                <span th:text="#{registration.agreement2}">terms and conditions</span>.
                            </label>
                            <ul class="mt-3 mb-1">
                                <li>
                                    <a class="text-primary" style="text-decoration: underline;" th:href="@{/terms-conditions}"
                                    th:text="#{registration.agreement2}">terms and conditions</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-form-label text-left py-3 font-weight-bold">
                            <span class="text-danger"><span aria-hidden="true">*</span><span class="sr-only" th:text="#{required}">Required</span></span>
                            <b class="d-inline">
                                <span th:text="#{registration.cookies}">Agree to</span>
                            </b>
                            <ul class="mt-3 mb-1">
                                <li>
                                    <a class="text-primary" style="text-decoration: underline;" th:href="@{/cookie-policy}"
                                       th:text="#{cookies}">Cookies Policy</a>
                                </li>
                            </ul>
                            <input class="mt-1" type="radio" id="cookies-accept" name="cookies" value="accept" required>
                            <label for="cookies-accept" th:text="#{registration.cookies.accept}">I accept</label><br>
                            <input class="mt-1" type="radio" id="cookies-reject" name="cookies" value="reject">
                            <label for="cookies-reject" th:text="#{registration.cookies.reject}">I reject</label><br>
                        </div>
                        <div class="col-form-label text-left py-3 font-weight-bold">

                            <input class="mt-1 mr-1" id="privacy-checkbox" name="terms" required type="checkbox"
                                   value="">
                            <span class="text-danger"><span aria-hidden="true">*</span><span class="sr-only" th:text="#{required}">Required</span></span>
                            <label class="d-inline" for="privacy-checkbox">
                                <span th:text="#{registration.privacy}">Agree to</span>
                            </label>
                            <ul class="mt-3 mb-1">
                                <li>
                                <a class="text-primary" style="text-decoration: underline;" th:href="@{/privacy-policy}"
                                   th:text="#{registration.agreement4}">privacy policy</a>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="form-group text-left text-md-center my-2">
                        <button class="btn btn-primary" th:text="#{login.create.button}" type="submit">Create now</button>
                    </div>

                </form>


            </div>
            <div class="col-12 text-center py-4 text-white">
                <span th:text="#{registration.existing_account}">Already have an account?</span>
                <!-- <a class="btn btn-white-pink ml-1" href="login.html">Log in!</a> -->
                <span class="underline"><a class="white" href="login.html"
                                        th:text="#{registration.login}">Log in!</a></span>
            </div>

        </div>
    </div>
</main>
</body>
</html>


		