<!DOCTYPE html>
<html th:lang="${lang_code}" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="header-fragment :: head(title=#{reg_succ})">
</th:block>

<body id="login">
<main>
    <div class="container" id="content" tabindex="-1">
        <div class="row pt-2">
            <div class="col-8 h-75 offset-2 p-5 rounded-shadowed bg-white centered text-center">

                <!-- <h1 th:text="#{regSucc.text}">Verfiy your email address.</h1> -->

                <h1 class="text-primary" th:text="#{regSucc.title}">Login to your account</h1>
                <div class="mb-1 text-primary font-weight-bold" th:text="#{regSucc.text}">Please click on the verification
                    link that has just been sent to your email account and continue your registration procces
                </div>

                <div class="my-1" style="height:12rem; background-image: url('/images/registration-email-sent.jpg'); background-size: 60%; background-repeat: no-repeat; background-position: center;">

                </div>

                <a href="/faq" th:text="#{regSucc.help}" style="text-decoration: underline;">Need Help?</a>

            </div>
        </div>
    </div>
</main>
</body>
</html>




