<!DOCTYPE html>
<html th:lang="${lang_code}" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="header-fragment :: head(title=#{error_page})">
</th:block>
<body>
<th:block th:replace="nav-fragment :: authenticated-nav"></th:block>

<div class="container p-sm-5 card" style="margin: auto">
    <div class="row">
        <h1 th:text="${message}">error</h1>
    </div>
    <div class="row">
        <a th:href="@{/registration}" class="btn btn-pink" th:text="#{badUser.signUp}">signup</a>
    </div>
    <div th:if="${expired}">
        <div class="row">
            <h1 th:text="#{badUser.resendRegistrationToken}">resend</h1>
        </div>
        <div class="row">
            <button onclick="resendToken()" class="btn btn-primary" th:text="#{badUser.resendRegistrationToken}">resend</button>
        </div>


        <script th:inline="javascript">
            function resendToken() {
                var token = /*[[${token}]]*/ "error";
                window.location.href = "/resendRegistrationToken?token=" + token;
            }
        </script>
    </div>
</div>

</body>
</html>